@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Rubik', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg--img-block{
  background:url('../public/bg-image.jpg'), rgb(55, 0, 255);
  object-fit: cover;
  width: 100%;
  height:500px;
  /* content: url('../public/') */
}

/* footer */

.contact-icons{
  fill: rgba(128, 128, 128, 0.568);
}

.contact-icons:hover{
fill: #f49e0b;
}

.contact--icon-active svg{
  fill:#f49e0b;
}

body{
  margin:0
}

/* progress bar styles */

#nprogress .bar {
  height:5px !important;
}

#container {
  padding:40px;
  background-color:grey;
  color:white;
}
#nprogress .bar {
  background: #f49e0b !important;
}

#nprogress .spinner-icon {
  border-top-color: #f49e0b;
  border-left-color: #f49e0b;
}